{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "babel-plugin-jsx-remove-data-test-id",
      {
        "attributes": ["data-testid", "data-cy"]
      }
    ]
  ]
}